<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ccc_Outlook>
            <version>1.0.0</version>
        </Ccc_Outlook>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Outlook before="Mage_Adminhtml">Ccc_Outlook_Adminhtml</Ccc_Outlook>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <outlook>
                    <file>outlook.xml</file>
                </outlook>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <outlook>
                <class>Ccc_Outlook_Model</class>
                <resourceModel>outlook_resource</resourceModel>
            </outlook>
            <outlook_resource>
                <class>Ccc_Outlook_Model_Resource</class>
                <entities>
                    <outlook>
                        <table>ccc_outlook_configuration</table>
                    </outlook>
                </entities>
            </outlook_resource>
        </models>
        <resources>
            <outlook_setup>
                <setup>
                    <module>Ccc_Outlook</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </outlook_setup>
        </resources>
        <blocks>
            <outlook>
                <class>Ccc_Outlook_Block</class>
            </outlook>
        </blocks>
        <helpers>
            <outlook>
                <class>Ccc_Outlook_Helper</class>
            </outlook>
        </helpers>
    </global>
</config>