<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Filetransfer>
            <version>1.1</version>
        </Ccc_Filetransfer>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <ccc_filetransfer>
                    <file>filetransfer.xml</file>
                </ccc_filetransfer>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_filetransfer before="Mage_Adminhtml">Ccc_Filetransfer_Adminhtml</ccc_filetransfer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <helpers>
            <filetransfer>
                <class>Ccc_Filetransfer_Helper</class>
            </filetransfer>
        </helpers>
        <blocks>
            <filetransfer>
                <class>Ccc_Filetransfer_Block</class>
            </filetransfer>
        </blocks>
        <models>
            <filetransfer>
                <class>Ccc_Filetransfer_Model</class>
                <resourceModel>filetransfer_resource</resourceModel>
            </filetransfer>
            <filetransfer_resource>
                <class>Ccc_Filetransfer_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>ccc_filetransfer_configuration</table>
                    </configuration>
                    <file>
                        <table>ccc_filetransfer_file</table>
                    </file>
                </entities>
            </filetransfer_resource>
        </models>
        <resources>
            <filetransfer_setup>
                <setup>
                    <module>Ccc_Filetransfer</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filetransfer_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <fetch>
                <schedule>
                    <!-- every 30 minute: Min Hour Day Month Day(Weeek) -->
                    <cron_expr>*/30 * * * * </cron_expr>
                </schedule>
                <run>
                    <model>filetransfer/observer::fetch</model>
                </run>
            </fetch>
        </jobs>
    </crontab>
</config>