<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_VendorInventory>
            <version>1.0.3</version>
        </Ccc_VendorInventory>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_VendorInventory before="Mage_Adminhtml">Ccc_VendorInventory_Adminhtml</Ccc_VendorInventory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vendorinventory>
                    <file>vendorinventory.xml</file>
                </vendorinventory>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <vendorinventory>
                    <file>vendorinventory.xml</file>
                </vendorinventory>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <vendorinventory>
                <class>Ccc_VendorInventory_Model</class>
                <resourceModel>vendorinventory_resource</resourceModel>
            </vendorinventory>
            <vendorinventory_resource>
                <class>Ccc_VendorInventory_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>ccc_vendorinventory_brand_configuration</table>
                    </configuration>
                    <configuration_column>
                        <table>ccc_vendorinventory_column_configuration</table>
                    </configuration_column>
                    <items>
                        <table>ccc_vendorinventory_items</table>
                    </items>
                </entities>
            </vendorinventory_resource>
        </models>
        <resources>
            <vendorinventory_setup>
                <setup>
                    <module>Ccc_VendorInventory</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>X
                </setup>
            </vendorinventory_setup>
        </resources>
        <blocks>
            <vendorinventory>
                <class>Ccc_VendorInventory_Block</class>
            </vendorinventory>
        </blocks>   

        <helpers>
            <vendorinventory>
                <class>Ccc_VendorInventory_Helper</class>
            </vendorinventory>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <read_csv>
                <run>
                    <model>vendorinventory/observer::readCsv</model>
                </run>
            </read_csv>
            <instock_check>
                <run>
                    <model>vendorinventory/observer::instockCheck</model>
                </run>
            </instock_check>
        </jobs>
    </crontab>
</config>