<?xml version="1.0"?>
<config>
    <modules>
        <Xyz_Test>
            <version>1.6.0.0.2</version>
        </Xyz_Test>
    </modules>
    <frontend>
        <routers>
            <xyz>
                <use>standard</use>
                <args>
                    <module>Xyz_Test</module>
                    <frontName>2</frontName>
                </args>
            </xyz>
        </routers>
    </frontend>
    <global>
        <models>
            <xyz_test>
                <class>Xyz_Test_Model</class>
                <resourceModel>test_resource</resourceModel>
            </xyz_test>
        </models>
    </global>
</config>